/* header */

header.child {
    width: 1440px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    width: 201px;
}

header.child ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header.child ul li  {
    list-style: none;
}

header.child ul li a  {
    color: black;
}

header.child nav :nth-child(2) {
    width:236px;
    height: 80px;
    background-color: #E0B9B4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    order: 3;
}

header.child nav :nth-child(2):hover {
    background-color: #C02E44;
} 


header.child ul li :hover  {
    font-weight: bold;
    font-size: 18px;
}

.menu-item-37 a {
    color: white !important;
}


/* Footer */

footer.child {
    width: 1440px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
}

footer.child a {
    color: black;
}


/* Page d'accueil */

.accueil-superposition {
    position: relative;
}

.accueil-feuille-1 {
    top: 20%;
    left: 8%;
    transform: translateX(65%);
    z-index: 1; 
}

.accueil-feuille-2 {
    top: 20%;
    right: 8%;
    transform: translateX(-65%);
    z-index: 2;
}

.accueil-canette {
    z-index: 3; 
}

@media screen and (max-width: 1024px) {
    .accueil-feuille-1 {
        width: 90%;
        top: 20%;
        left: 8%;
        transform: translateX(65%);
        z-index: 1; 
    }
    
    .accueil-feuille-2 {
        width: 90%;
        top: 20%;
        right: 8%;
        transform: translateX(-65%);
        z-index: 2;
    }
}


/* Nous rencontrer */

.formulaire {
    width: 383px;
    z-index: 3;
}

.contact-formulaire label {
    font-size: 20px;
    font-weight: 400;
}

.contact-bouton{
    display: flex;
	justify-content: center;  
}

/* Commander */

.commander {
    margin: 0;
}

.commander-formulaire {
    width: 860px;
}

.commander-qty {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 175px;
    margin-bottom: 40px;
    border-bottom: solid;
    border-width: 1px;
    border-color: white;
    padding-bottom: 40px;
}

input[type="number"] {
    width: 39px;
    height: 56px;
    border-radius: 0px;
}

.commander-qty1 {
    width: 39px;
    height: 56px;
}

.commander-qty2 {
    width: 39px;
    height: 56px;
}

.commander-qty3 {
    width: 39px;
    height: 56px;
}

.commander-qty4 {
    width: 39px;
    height: 56px;
}

.commander-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 50px;
    margin-bottom: 40px;
}

.commander-contact label {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.commander-gauche {
    padding-right: 50px;
    border-right: solid;
    border-width: 1px;
    border-color: white;
}

.commander-droite-titre {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.commander-gauche-titre {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 383px;
}

.commander-bouton {
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    width: 198px;
    height: 55px;
}

.wpcf7-spinner {
    display: none;
}